# This file is used to set environment variables for the application. You can define variables here that will be available in your Nuxt app using process.env.VARIABLE_NAME.

# API base URL for fetching weather data
WEATHER_API_BASE=https://weather-api-all.vercel.app

# API base URL for fetching weather data development
#WEATHER_API_BASE=http://localhost:3001

# API key for authenticating with the weather API
WEATHER_API_KEY=
